USE [master]
GO
/****** Object:  Database [KidsZone]    Script Date: 10/22/2021 9:30:36 PM ******/
CREATE DATABASE [KidsZone]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KidsZone', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KidsZone.mdf' , SIZE = 4352KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'KidsZone_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\KidsZone_1.LDF' , SIZE = 3456KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KidsZone].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KidsZone]
GO
USE [KidsZone]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examination]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[ExaminationId] [int] IDENTITY(1,1) NOT NULL,
	[ExamHeldYear] [nvarchar](4) NULL,
	[ExamId] [int] NULL,
	[ResultPrintDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExaminationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradingSystem]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradingSystem](
	[GradingSystemId] [int] IDENTITY(1,1) NOT NULL,
	[MarksFrom] [decimal](6, 2) NULL,
	[MarksTo] [decimal](6, 2) NULL,
	[Grade] [nvarchar](5) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradingSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Remarks]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Remarks](
	[RemarksId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NULL,
	[ClassId] [int] NULL,
	[ExaminationId] [int] NULL,
	[ExamHeldYear] [nvarchar](4) NULL,
	[Remarks] [nvarchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](500) NULL,
	[ShortName] [nvarchar](10) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](40) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Logo] [varbinary](max) NULL,
	[EstiblishedYear] [int] NULL,
	[Slogan] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentFullName] [nvarchar](100) NULL,
	[Gender] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[EnrolledYear] [nvarchar](4) NOT NULL,
	[RollNumber] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC,
	[EnrolledYear] ASC,
	[RollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExams]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExams](
	[StudentId] [int] NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[Grade] [nchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ExaminationId] ASC,
	[ClassId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExtraActivities]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExtraActivities](
	[StudentId] [int] NOT NULL,
	[ActivitiesYear] [nvarchar](4) NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[SchoolDays] [int] NULL,
	[Present_Days] [int] NULL,
	[Reading_And_Writing_Skill] [nvarchar](50) NULL,
	[Recognition_of_Letter] [nvarchar](50) NULL,
	[English] [nvarchar](50) NULL,
	[Nepali] [nvarchar](50) NULL,
	[Copying_Skill] [nvarchar](50) NULL,
	[Students_Academic_Attitude] [nvarchar](50) NULL,
	[Concentration] [nvarchar](50) NULL,
	[Co-operation] [nvarchar](50) NULL,
	[Memory] [nvarchar](50) NULL,
	[Curiosity] [nvarchar](50) NULL,
	[Understanding] [nvarchar](50) NULL,
	[Student_Department] [nvarchar](50) NULL,
	[Conduct] [nvarchar](50) NULL,
	[Neatness_And_Tidiness] [nvarchar](50) NULL,
	[Punctuality] [nvarchar](50) NULL,
	[Politeness] [nvarchar](50) NULL,
	[Height_And_Weight] [nvarchar](50) NULL,
	[Extra_Curricular_Activities] [nvarchar](50) NULL,
	[Drill/P.T] [nvarchar](50) NULL,
	[Dance] [nvarchar](50) NULL,
	[Rhymes] [nvarchar](50) NULL,
 CONSTRAINT [PK__StudentE__31431A8222AA2996] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ActivitiesYear] ASC,
	[ExaminationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
	[ClassId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamID])
GO
ALTER TABLE [dbo].[Remarks]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[Remarks]  WITH CHECK ADD FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[Remarks]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[StudentExtraActivities]  WITH CHECK ADD  CONSTRAINT [FK__StudentEx__Exami__5441852A] FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[StudentExtraActivities] CHECK CONSTRAINT [FK__StudentEx__Exami__5441852A]
GO
ALTER TABLE [dbo].[StudentExtraActivities]  WITH CHECK ADD  CONSTRAINT [FK__StudentEx__Stude__5535A963] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentExtraActivities] CHECK CONSTRAINT [FK__StudentEx__Stude__5535A963]
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[Extra_Activities]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[Extra_Activities]
	@StudentId int,
	@ExaminationId int
as
begin
SELECT  
	Reading_And_Writing_Skill AS '1. Reading and Writing Skill', 
	Recognition_of_Letter as '  a) Recognition of letters',
	English AS '      English',
	Nepali AS '      Nepali',
	Copying_Skill AS '  b) Copying Skill',
	Students_Academic_Attitude AS '2. Students Academic Attitude',
	Concentration AS '  a) Concentration',
	[Co-operation]  AS  '  b) Co-operative',
	Memory  AS  '  c) Memory',
	Curiosity  AS '  d) Curiosity',
	Understanding AS '  e) Understanding',
	Student_Department AS '3. Student Department',
	Conduct AS '  a) Conduct',
	Neatness_And_Tidiness AS '  b) Neatness and tidiness',
	Punctuality AS '  c) Punctuality',
	Politeness AS '  d) Politeness',
	Height_And_Weight AS '  e) Height and Weight',
	Extra_Curricular_Activities AS '4. Extra Curricular Activities',
	[Drill/P.T] AS '  a) Drill/P.T',
	Dance AS '  b) Dance',
	Rhymes AS '  c) Rhymes',
	SchoolDays,
	Present_Days
	
FROM StudentExtraActivities
WHERE StudentId = @StudentId AND ExaminationId = @ExaminationId 
END
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolInfo]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[GetSchoolInfo]
as
begin
	select top 1 * from School

end

GO
/****** Object:  StoredProcedure [dbo].[SaveUpdateSchool]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SaveUpdateSchool]
@Id int,
@SchoolName nvarchar(500),
@ShortName nvarchar(10),
@Address nvarchar(500),
@PhoneNo nvarchar(40),
@Email nvarchar(100),
@WebSite nvarchar(100),
@Logo varbinary(max),
@EstiblishedYear int,
@Slogan nvarchar(1000)
as
begin
	if @Id>0
	begin
		update School set SchoolName = @SchoolName, ShortName = @ShortName, Address = @Address, Phone = @PhoneNo, Email = @Email, Website = @WebSite, Logo = @Logo, EstiblishedYear =@EstiblishedYear, Slogan = @Slogan
		where ID = @Id
		select @Id
	end
	else
	begin
		insert into School (SchoolName, ShortName, Address, Phone, Email, Website, Logo, EstiblishedYear,Slogan) values
		(@SchoolName, @ShortName, @Address, @PhoneNo, @Email, @WebSite, @Logo,@EstiblishedYear,@Slogan)
		select @@IDENTITY
	end

end

GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Delete]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Delete]
	@ClassId int
 as
 begin
	Delete FROM Class WHERE ClassId = @ClassId
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Save]
 @ClassName nvarchar(15)
 as
 begin
	insert INTO Class(ClassName) VALUES(@ClassName)
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Select]
 as
 begin
	select ClassId, ROW_NUMBER() OVER (ORDER BY ClassName) 'S.N', ClassName AS 'Class Name' FROM Class ORDER BY ClassId
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Update]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Update]
	@ClassId int,
	@ClassName nvarchar(15)
 as
 begin
	update Class SET ClassName = @ClassName WHERE ClassId = @ClassId 
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_ByYear]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_ByYear]
	@Year nvarchar(4)
as
begin
	select ex.ExaminationId,  e.ExamName  + ' (' + ex.ExamHeldYear + ')' as  'Exam'	 
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID
	WHERE ex.ExamHeldYear = @Year
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Delete]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Delete]
	@ExaminationID int
as
begin
begin try
begin tran
	DELETE FROM StudentExams WHERE ExaminationId = @ExaminationID
	DELETE FROM Remarks where ExaminationId = @ExaminationID
	DELETE FROM StudentExtraActivities where ExaminationId = @ExaminationID
	DELETE FROM Examination WHERE ExaminationId = @ExaminationID
commit
end try
begin catch
	rollback
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Save]
	@HeldYear nvarchar(4),
	@ExamId int,
	@PrintDate date
as
begin
	insert INTO Examination(ExamHeldYear, ExamId,ResultPrintDate) VALUES
	(@HeldYear, @ExamId, @PrintDate)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Select]
as
begin
	SELECT ExamID, ExamName FROM Exam
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Update]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Update]
	@HeldYear nvarchar(4),
	@ExamId int,
	@PrintDate date,
	@ExaminationID int
as
begin
	UPDATE Examination SET ExamHeldYear = @HeldYear, ExamId = @ExamId, ResultPrintDate = @PrintDate
	WHERE ExaminationId = @ExaminationID
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_GetByYear]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Examination_GetByYear]
	@Year nvarchar(4)
as
begin
	select ex.ExaminationId, ROW_NUMBER() OVER (ORDER BY ex.ExamHeldYear desc, ex.ResultPrintDate asc) as 'S.N', e.ExamName as 'Exam', ex.ExamHeldYear as 'Exam Held Year',
	 ex.ResultPrintDate as 'Result Print Date'
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID
	where ex.ExamHeldYear = @Year
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Examination_Select]
as
begin


	select top 20 ex.ExaminationId, ROW_NUMBER() OVER (ORDER BY ex.ExamHeldYear desc, ex.ResultPrintDate asc) as 'S.N', e.ExamName as 'Exam', ex.ExamHeldYear as 'Exam Held Year',
	 ex.ResultPrintDate as 'Result Print Date'
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID


end

GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_SelectById]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Examination_SelectById]
	@ExamId int
as
begin
	Select ExaminationId, ExamHeldYear, ExamId,ResultPrintDate FROM Examination WHERE ExaminationId = @ExamId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ExamResult]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
	
CREATE proc [dbo].[usp_ExamResult]
@ExaminationId int,
@ClassId int,
@Year varchar(5)
as
begin
	declare @minId int, @maxId int
	
	select SN=identity(int ,1,1), sub.ClassId, s.StudentId, ex.ExamName, e.ExamHeldYear, e.ResultPrintDate, 
	c.ClassName, s.StudentFullName,  sc.RollNumber, sub.SubjectName,  se.Grade as 'ObtainedGrade', r.Remarks
	INTO #tempResult   FROM StudentExams se
	INNER JOIN Student s on se.StudentId = s.StudentId
	INNER JOIN Examination e on se.ExaminationId = e.ExaminationId
	INNER JOIN Exam ex on e.ExamId = ex.ExamID
	INNER JOIN Class c on se.ClassId = c.ClassId
	INNER JOIN StudentClass sc on se.StudentId = sc.StudentId AND se.ClassId = sc.ClassId
	INNER JOIN Subjects sub on se.SubjectId = sub.SubjectId
	LEFT JOIN Remarks r ON s.StudentId  =r.StudentId AND sc.ClassId = r.ClassId AND e.ExaminationId = r.ExaminationId
	WHERE se.ExaminationId = @ExaminationId AND se.ClassId = @ClassId and  e.ExamHeldYear = @Year
	
	SELECT DISTINCT  StudentId into #StudentRecord FROM #tempResult
	
	
	set @minId = (SELECT MIN(StudentId) from #StudentRecord)
	set @maxId = (SELECT MAX(StudentId) from #StudentRecord)
	WHILE (@minId<= @maxId)
	BEGIN
		if(SELECT COUNT(*) from	#tempResult WHERE StudentId = (SELECT StudentId FROM #StudentRecord WHERE StudentId= @minId) )>0
	BEGIN	
		SELECT * FROM #tempResult WHERE StudentId = (SELECT StudentId FROM #StudentRecord WHERE StudentId= @minId) ORDER BY ClassID
		END
		SET @minId = @minId +1
	END
	
	DROP TABLE #tempResult
	DROP TABLE #StudentRecord
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentActivities]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_GetStudentActivities]
	@StudentId int,
	@ExaminationId int
as
begin
	declare @Year nvarchar(4)
	set NOCOUNT ON
	SELECT  @Year = ExamHeldYear from Examination WHERE ExaminationId = @ExaminationId
	SELECT * FROM StudentExtraActivities WHERE StudentId = @StudentId 
		AND ActivitiesYear = @Year AND ExaminationId = @ExaminationId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Delete]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Delete]
@GradingId int
as
begin
	Delete from GradingSystem where GradingSystemId = @GradingId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Save]
	@MarksFrom decimal(6,2),
	@MarksTo decimal(6,2),
	@Grade nvarchar(5),
	@Remarks nvarchar(200)
as
begin
	insert into GradingSystem(MarksFrom,MarksTo,Grade,Remarks) values (@MarksFrom,@MarksTo,@Grade,@Remarks)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Select]
as
begin
	Select GradingSystemId, 
	ROW_NUMBER() over(order by GradingSystemId) as 'S.N',
	MarksFrom as 'Marks From',
	MarksTo as 'Marks To',Grade,Remarks from GradingSystem
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Update]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Update]
	@GradingId int,
	@MarksFrom decimal(6,2),
	@MarksTo decimal(6,2),
	@Grade nvarchar(5),
	@Remarks nvarchar(200)
as
begin
	update GradingSystem set MarksFrom = @MarksFrom, MarksTo = @MarksTo, Grade = @Grade, Remarks = @Remarks
	where GradingSystemId = @GradingId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Remarks_Get]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Remarks_Get]
		@ClassId int,
	@ExaminationId int,
	@ExamHeldYear int
as
begin
	select r.RemarksID, s.StudentId, DENSE_RANK() over(order by s.StudentId) as SN, s.StudentFullName  AS [Student Name], sc.RollNumber as [Roll Number] , r.Remarks
	FROM Student  s
	LEFT JOIN Remarks r on r.StudentId = s.StudentId AND ExaminationId = @ExaminationId 
						AND ExamHeldYear = @ExamHeldYear
	LEFT JOIN StudentClass sc ON s.StudentId = sc.StudentId
	WHERE sc.ClassId =@ClassId  and sc.EnrolledYear = @ExamHeldYear
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Remarks_GetByStudent]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[usp_Remarks_GetByStudent]
	@ClassId int,
	@ExaminationId int,
	@StudentId int
AS
	BEGIN
			select Remarks FROM Remarks WHERE ClassId =@ClassId AND ExaminationId = @ExaminationId 
						AND StudentId = @StudentId	
	END
	
	
GO
/****** Object:  StoredProcedure [dbo].[usp_Remarks_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[usp_Remarks_Save]
	@StudentId int,
	@ClassId int,
	@ExaminationId int,
	@ExamHeldYear int,
	@Remark nvarchar (250),
	@RemarkId int
as
begin
	if (@RemarkId=0)
	BEGIN
		INSERT INTO Remarks(StudentId, ClassId, ExaminationId, ExamHeldYear, Remarks) VALUES
			(@StudentId, @ClassId, @ExaminationId, @ExamHeldYear, @Remark)
	END
	ELSE
	BEGIN
		UPDATE Remarks SET Remarks =@Remark WHERE RemarksId = @RemarkId
	END
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Student_BulkInsert]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_BulkInsert]
@Name nvarchar(100),
@Gender char(1),
@ClassName nvarchar(20),
@Enrolledyear nvarchar(4),
@RollNumber nvarchar(5)
as
begin
begin try
begin tran
	declare @ClassId int, @StudentId int
	set @ClassId = (Select ClassId from Class where ClassName = @ClassName);
	insert into Student(StudentFullName,Gender) values (@Name,@Gender)
	select @StudentId = SCOPE_IDENTITY() from Student
	insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values (@StudentId,@ClassId,@Enrolledyear,@RollNumber)
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Delete]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Delete]
	@StudentId int
as
begin
begin try
begin tran
	delete from StudentExams where StudentId = @StudentId
	delete from StudentClass where StudentId = @StudentId
	delete from Remarks where StudentId = @StudentId
	delete from StudentExtraActivities where StudentId = @StudentId
	delete from  Student where StudentId = @StudentId
commit
end try
begin catch
	select ERROR_MESSAGE()
	rollback
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Names]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Names]
as
begin
	select distinct  StudentFullName from Student s
	inner join StudentClass sc on s.StudentId= sc.StudentId
	order by StudentFullName asc
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Save]
	@StudentName nvarchar(100),
	@Gender char(1),
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5)
as
begin
begin try
begin tran
	declare @studentId int
	insert into Student(StudentFullName,Gender ) values (@StudentName,@Gender)
	select @studentId = SCOPE_IDENTITY() from Student
	insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values (@studentId, @ClassId, @EnrolledYear,@RollNumber)
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Search]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Search]
	@Name nvarchar(100),
	@ClassId int,
	@AcademicYear nvarchar(4)
as
begin
	select s.StudentId, ROW_NUMBER() over (order by s.StudentFullName) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', sc.RollNumber from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where (s.StudentFullName like @Name + '%'  or @Name = '' )and sc.ClassId = @ClassId and sc.EnrolledYear  = @AcademicYear
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Select]
as
begin
	select s.StudentId, ROW_NUMBER() over (order by sc.EnrolledYear desc, c.ClassID desc, CONVERT(INT, sc.RollNumber) asc ) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', sc.RollNumber from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where sc.EnrolledYear = (select ISNULL(MAX(EnrolledYear),0) from StudentClass)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Select_By_Class_Year]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Select_By_Class_Year]
@ClassId int,
@EnrolledYear varchar(4),
@SubjectId int,
@ExaminationId int
as
begin
	select s.StudentId, sc.RollNumber as [Roll Number], s.StudentFullName as [Student Name], se.Grade 
	 from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	LEFT JOIN StudentExams se on s.StudentId = se.StudentId and sc.ClassId = sc.ClassId 
	AND se.SubjectId = @SubjectId
	AND se.ExaminationId = @ExaminationId
	 LEFT JOIN Subjects sub on se.SubjectId = sub.SubjectId
	where sc.ClassId = @ClassId AND sc.EnrolledYear = @EnrolledYear
	ORDER BY convert(int, sc.RollNumber) ASC
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_SelectById]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_SelectById]
@StudentId int,
@EnrolledYear varchar(5)
as
begin
	select s.StudentFullName, s.Gender, sc.ClassId, sc.EnrolledYear, sc.RollNumber from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	where s.StudentId = @StudentId and sc.EnrolledYear = @EnrolledYear
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Transfer]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Transfer]
	@ClassId int,
	@AcademicYear nvarchar(4)
as
begin
	select s.StudentId, ROW_NUMBER() over (order by s.StudentFullName) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', 
	sc.RollNumber as 'Roll Number', sc.RollNumber as 'New Roll Number'
	 from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where  sc.ClassId = @ClassId and sc.EnrolledYear  = @AcademicYear
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_TransferStudent]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_TransferStudent]
	@StudentId int,
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5)
as
	begin
		insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values
		(@StudentId, @ClassId, @EnrolledYear, @RollNumber)
	end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Update]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Update]
	@StudentName nvarchar(100),
	@Gender char(1),
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5),
	@StudentId int
as
begin
begin try
begin tran
	update Student set StudentFullName = @StudentName, Gender=@Gender where StudentId = @StudentId
	if(select count(studentid) from StudentClass where StudentId=@StudentId)=1
	begin
		update StudentClass set ClassId = @ClassId, EnrolledYear = @EnrolledYear, RollNumber = @RollNumber
		where StudentId = @StudentId and EnrolledYear = @EnrolledYear
	end
commit
end try
begin catch
	rollback
end catch
end



GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExam_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_StudentExam_Save]
@RollNumber varchar(5),
@ExaminationId int,
@ClassId int,
@SubjectId int,
@Grade nchar(2),
@ExamYear nvarchar(4),
@StudentId int
as
begin
begin try
begin tran
	
	if EXISTS(SELECT 'a' FROM StudentExams WHERE StudentId = @StudentId AND ExaminationId = @ExaminationId AND ClassId = @ClassId AND SubjectId = @SubjectId)
	BEGIN
		UPDATE StudentExams SET Grade = @Grade
			 WHERE StudentId = @StudentId AND ExaminationId = @ExaminationId AND ClassId = @ClassId AND SubjectId = @SubjectId
	END
	ELSE
	BEGIN
		INSERT INTO StudentExams (StudentId, ExaminationId, ClassId, SubjectId, Grade) VALUES
		(@StudentId, @ExaminationId, @ClassId, @SubjectId, @Grade)
	END
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExtraActivities_Get]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_StudentExtraActivities_Get]
	@Year nvarchar(4) ,
	@Examination nvarchar(4),
	@ClassId int
as
begin 
		select sc.StudentId, 
		s. StudentFullName, 
		sea.SchoolDays,
		 sea.Present_Days, 
		-- sea.Reading_And_Writing_Skill, 
		 --sea.Recognition_of_Letter, 
		 sea.English, sea.Nepali, 
		 sea.Copying_Skill, 
		 --sea.Students_Academic_Attitude, 
		 sea.Concentration, 
		 sea.[Co-operation], 
		 sea.Memory, 
		 sea.Curiosity, 
		 sea.Understanding, 
		 --sea.Student_Department, 
		 sea.Conduct, 
		 sea.Neatness_And_Tidiness, 
		 sea.Punctuality, 
		 sea.Politeness, 
		 sea.Height_And_Weight, 
		 --sea.Extra_Curricular_Activities, 
		 sea.[Drill/P.T], 
		 sea.Dance, 
		 sea.Rhymes
		 FROM Student s
		INNER JOIN StudentClass sc on s.StudentId = sc.StudentId AND sc.EnrolledYear = @Year AND sc.ClassId = @ClassId
		LEFT JOIN StudentExtraActivities sea on s.StudentId = sea.StudentId AND sea.ExaminationId = @Examination	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExtraActivities_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_StudentExtraActivities_Save]
	@StudentId int, 
	@ActivitiesYear nvarchar(50),
	@ExaminationId int,
	@SchoolDays int,
	@PresentDays int,
	@ReadingAndWriting nvarchar(50),
	@RecognitionofLetter nvarchar(50),
	@English nvarchar(50),
	@Nepali nvarchar(50),
	@CopyingSkill nvarchar(50),
	@StudentsAcademicAttitude nvarchar(50),
	@Concentration nvarchar(50),
	@Cooperation nvarchar(50),
	@Memory nvarchar(50),
	@Curiosity nvarchar(50),
	@Understanding nvarchar(50),
	@StudentDepartment nvarchar(50),
	@Conduct nvarchar(50),
	@Neatness  nvarchar(50),
	@Punctuality  nvarchar(50),
	@Politeness nvarchar(50),
	@HeightAndWeight nvarchar(50),
	@ExtraCurricular nvarchar(50),
	@Drill nvarchar(50),
	@Dance nvarchar(50),
	@Rhymes nvarchar(50)
as
begin 
	IF NOT EXISTS (SELECT 'a' FROM StudentExtraActivities WHERE StudentId = @StudentId 
		AND ExaminationId = @ExaminationId AND ActivitiesYear = @ActivitiesYear)
BEGIN	
		INSERT INTO StudentExtraActivities (StudentId, ActivitiesYear, ExaminationId, SchoolDays, Present_Days, 
		Reading_And_Writing_Skill, Recognition_of_Letter, English, Nepali, Copying_Skill, Students_Academic_Attitude,
		Concentration, [Co-operation], Memory, Curiosity, Understanding, Student_Department, Conduct,
		 Neatness_And_Tidiness, Punctuality, Politeness, Height_And_Weight, Extra_Curricular_Activities, 
		 [Drill/P.T], Dance, Rhymes) VALUES
		(@StudentId, @ActivitiesYear,@ExaminationId,  @SchoolDays, @PresentDays, @ReadingAndWriting, 
		@RecognitionofLetter,@English,@Nepali, @CopyingSkill,@StudentsAcademicAttitude, @Concentration,
		@Cooperation,	@Memory, @Curiosity, @Understanding, @StudentDepartment,@Conduct, @Neatness, 
		@Punctuality, @Politeness, @HeightAndWeight, @ExtraCurricular, @Drill, @Dance, @Rhymes) 
END
ELSE
BEGIN
	UPDATE StudentExtraActivities SET
		SchoolDays = @SchoolDays,
		Present_Days = @PresentDays,
		Reading_And_Writing_Skill = @ReadingAndWriting,
		Recognition_of_Letter=@RecognitionofLetter,
		English = @English,
		Nepali =@Nepali,
		Copying_Skill=@CopyingSkill,
		Students_Academic_Attitude =@StudentsAcademicAttitude,
		Concentration =@Concentration ,
		[Co-operation] = @Cooperation,
		Memory = @Memory,
		Curiosity = @Curiosity,
		Understanding = @Understanding,
		Student_Department = @StudentDepartment,
		Conduct = @Conduct,
		Neatness_And_Tidiness = @Neatness,
		Punctuality = @Punctuality,
		Politeness = @Politeness,
		Height_And_Weight = @HeightAndWeight,
		Extra_Curricular_Activities = @ExtraCurricular ,
		[Drill/P.T] =@Drill ,
		Dance = @Dance,
		Rhymes = @Rhymes
		WHERE StudentId = @StudentId 
		AND ExaminationId = @ExaminationId AND ActivitiesYear = @ActivitiesYear
END
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_ByClass]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_ByClass]
	@ClassId int
as
begin	
	select s.SubjectId, ROW_NUMBER() over (order by c.ClassId, s.SubjectName) as 'S.N',
	 c.ClassName as 'Class', s.SubjectName as 'Subject'
	 from Subjects s
	inner join Class c on s.ClassId = c.ClassId
	where s.ClassId = @ClassId OR @ClassId = 0
	order by c.ClassId asc, s.SubjectName asc
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Delete]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Subject_Delete]
	@SubjectId int
as
begin
	delete from Subjects
	where SubjectId = @SubjectId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Save]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_Save]
	@SubjectName nvarchar(100),
	@ClassId int
as
begin
	insert into Subjects(SubjectName, ClassId) values 
	(@SubjectName, @ClassId)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Select]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_Select]
as
begin
	select s.SubjectId, ROW_NUMBER() over (order by s.SubjectId, s.SubjectName) as 'S.N',
	 c.ClassName as 'Class', s.SubjectName as 'Subject'
	 from Subjects s
	inner join Class c on s.ClassId = c.ClassId
	order by s.SubjectId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_SelectById]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_SelectById]
	@SubjectId int
as
begin
	select s.SubjectId, 
	 s.ClassId, s.SubjectName 
	 from Subjects s
	where s.SubjectId = @SubjectId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Update]    Script Date: 10/22/2021 9:30:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_Update]
	@SubjectName nvarchar(100),
	@ClassId int,
	@SubjectId int
as
begin
	update Subjects set 
		SubjectName = @SubjectName, 
		ClassId = @ClassId
	where SubjectId = @SubjectId
end
GO
USE [master]
GO
