USE [master]
GO
/****** Object:  Database [NPSBS]    Script Date: 10/22/2021 9:28:55 PM ******/
CREATE DATABASE [NPSBS]
GO
USE [NPSBS]
GO
USE [NPSBS]
GO
/****** Object:  Table [dbo].[Attendance]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Attendance](
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[ExamHeldYear] [nvarchar](4) NOT NULL,
	[SchoolDays] [int] NULL,
	[PresentDays] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC,
	[ExaminationId] ASC,
	[ExamHeldYear] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Class]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Class](
	[ClassId] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exam]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exam](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Examination]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Examination](
	[ExaminationId] [int] IDENTITY(1,1) NOT NULL,
	[ExamHeldYear] [nvarchar](4) NULL,
	[ExamId] [int] NULL,
	[ResultPrintDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ExaminationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GradingSystem]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GradingSystem](
	[GradingSystemId] [int] IDENTITY(1,1) NOT NULL,
	[MarksFrom] [decimal](6, 2) NULL,
	[MarksTo] [decimal](6, 2) NULL,
	[Grade] [nvarchar](5) NULL,
	[Remarks] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[GradingSystemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[School]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[School](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[SchoolName] [nvarchar](500) NULL,
	[ShortName] [nvarchar](10) NULL,
	[Address] [nvarchar](500) NULL,
	[Phone] [nvarchar](40) NULL,
	[Email] [nvarchar](100) NULL,
	[Website] [nvarchar](100) NULL,
	[Logo] [varbinary](max) NULL,
	[EstiblishedYear] [int] NULL,
	[Slogan] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[StudentFullName] [nvarchar](100) NULL,
	[Gender] [char](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentClass]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentClass](
	[StudentId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[EnrolledYear] [nvarchar](4) NOT NULL,
	[RollNumber] [varchar](5) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ClassId] ASC,
	[EnrolledYear] ASC,
	[RollNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExams]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExams](
	[StudentId] [int] NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[ClassId] [int] NOT NULL,
	[SubjectId] [int] NOT NULL,
	[TheoryMarks] [decimal](6, 2) NULL,
	[PracticalMarks] [decimal](6, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ExaminationId] ASC,
	[ClassId] ASC,
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentExtraActivities]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentExtraActivities](
	[StudentId] [int] NOT NULL,
	[ActivitiesYear] [nvarchar](4) NOT NULL,
	[ExaminationId] [int] NOT NULL,
	[SchoolDays] [int] NULL,
	[PresentDays] [int] NULL,
	[Drawing] [nvarchar](4) NULL,
	[Games] [nvarchar](4) NULL,
	[Conduct] [nvarchar](4) NULL,
	[PersonalCleanliness] [nvarchar](4) NULL,
	[Cooperation] [nvarchar](4) NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC,
	[ActivitiesYear] ASC,
	[ExaminationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subjects]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subjects](
	[SubjectId] [int] IDENTITY(1,1) NOT NULL,
	[SubjectName] [nvarchar](100) NULL,
	[ClassId] [int] NULL,
	[TheoryMarks] [decimal](6, 2) NULL,
	[PracticalMarks] [decimal](6, 2) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[SubjectId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Examination]  WITH CHECK ADD FOREIGN KEY([ExamId])
REFERENCES [dbo].[Exam] ([ExamID])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[StudentClass]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD FOREIGN KEY([SubjectId])
REFERENCES [dbo].[Subjects] ([SubjectId])
GO
ALTER TABLE [dbo].[StudentExtraActivities]  WITH CHECK ADD FOREIGN KEY([ExaminationId])
REFERENCES [dbo].[Examination] ([ExaminationId])
GO
ALTER TABLE [dbo].[StudentExtraActivities]  WITH CHECK ADD FOREIGN KEY([StudentId])
REFERENCES [dbo].[Student] ([StudentId])
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD FOREIGN KEY([ClassId])
REFERENCES [dbo].[Class] ([ClassId])
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([PresentDays]>=(0)))
GO
ALTER TABLE [dbo].[Attendance]  WITH CHECK ADD CHECK  (([SchoolDays]>(0)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksFrom]<=(100)))
GO
ALTER TABLE [dbo].[GradingSystem]  WITH CHECK ADD CHECK  (([MarksTo]<=(100)))
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD CHECK  (([PracticalMarks]<=(50)))
GO
ALTER TABLE [dbo].[StudentExams]  WITH CHECK ADD CHECK  (([TheoryMarks]<=(100)))
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD CHECK  (([PracticalMarks]<=(50)))
GO
ALTER TABLE [dbo].[Subjects]  WITH CHECK ADD CHECK  (([TheoryMarks]<=(100)))
GO
/****** Object:  StoredProcedure [dbo].[GetSchoolInfo]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetSchoolInfo]
as
begin
	select top 1 * from School

end

GO
/****** Object:  StoredProcedure [dbo].[SaveUpdateSchool]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[SaveUpdateSchool]
@Id int,
@SchoolName nvarchar(500),
@ShortName nvarchar(10),
@Address nvarchar(500),
@PhoneNo nvarchar(40),
@Email nvarchar(100),
@WebSite nvarchar(100),
@Logo varbinary(max),
@EstiblishedYear int,
@Slogan nvarchar(1000)
as
begin
	if @Id>0
	begin
		update School set SchoolName = @SchoolName, ShortName = @ShortName, Address = @Address, Phone = @PhoneNo, Email = @Email, Website = @WebSite, Logo = @Logo, EstiblishedYear =@EstiblishedYear, Slogan = @Slogan
		where ID = @Id
		select @Id
	end
	else
	begin
		insert into School (SchoolName, ShortName, Address, Phone, Email, Website, Logo, EstiblishedYear,Slogan) values
		(@SchoolName, @ShortName, @Address, @PhoneNo, @Email, @WebSite, @Logo,@EstiblishedYear,@Slogan)
		select @@IDENTITY
	end

end

GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Delete]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Delete]
	@ClassId int
 as
 begin
	Delete FROM Class WHERE ClassId = @ClassId
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Save]
 @ClassName nvarchar(10)
 as
 begin
	insert INTO Class(ClassName) VALUES(@ClassName)
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Select]
 as
 begin
	select ClassId, ROW_NUMBER() OVER (ORDER BY ClassName) 'S.N', ClassName AS 'Class Name' FROM Class ORDER BY ClassId
 end
GO
/****** Object:  StoredProcedure [dbo].[usp_Class_Update]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Class_Update]
	@ClassId int,
	@ClassName nvarchar(10)
 as
 begin
	update Class SET ClassName = @ClassName WHERE ClassId = @ClassId 
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_ByYear]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_ByYear]
	@Year nvarchar(4)
as
begin
	select ex.ExaminationId,  e.ExamName  + ' (' + ex.ExamHeldYear + ')' as  'Exam'	 
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID
	WHERE ex.ExamHeldYear = @Year
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Delete]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Delete]
	@ExaminationID int
as
begin
	delete FROM StudentExams WHERE ExaminationId = @ExaminationID
	DELETE FROM Examination WHERE ExaminationId = @ExaminationID
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Save]
	@HeldYear nvarchar(4),
	@ExamId int,
	@PrintDate date
as
begin
	insert INTO Examination(ExamHeldYear, ExamId,ResultPrintDate) VALUES
	(@HeldYear, @ExamId, @PrintDate)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Select]
as
begin
	SELECT ExamID, ExamName FROM Exam
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Exam_Update]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Exam_Update]
	@HeldYear nvarchar(4),
	@ExamId int,
	@PrintDate date,
	@ExaminationID int
as
begin
	UPDATE Examination SET ExamHeldYear = @HeldYear, ExamId = @ExamId, ResultPrintDate = @PrintDate
	WHERE ExaminationId = @ExaminationID
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_GetByYear]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Examination_GetByYear]
	@Year nvarchar(4)
as
begin
	select ex.ExaminationId, ROW_NUMBER() OVER (ORDER BY ex.ExamId, ex.ExamHeldYear) as 'S.N', e.ExamName as 'Exam', ex.ExamHeldYear as 'Exam Held Year',
	 ex.ResultPrintDate as 'Result Print Date'
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID
	where ex.ExamHeldYear = @Year
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO




CREATE proc [dbo].[usp_Examination_Select]
as
begin
	select ex.ExaminationId, ROW_NUMBER() OVER (ORDER BY ex.ExamHeldYear desc, ex.ResultPrintDate asc) as 'S.N', e.ExamName as 'Exam', ex.ExamHeldYear as 'Exam Held Year',
	 ex.ResultPrintDate as 'Result Print Date'
	 FROM Examination ex
	INNER JOIN Exam e on ex.ExamId = e.ExamID
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Examination_SelectById]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Examination_SelectById]
	@ExamId int
as
begin
	Select ExaminationId, ExamHeldYear, ExamId,ResultPrintDate FROM Examination WHERE ExaminationId = @ExamId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_ExamResult]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--		EXEC usp_ExamResult 23, 11

CREATE proc [dbo].[usp_ExamResult]
@ExaminationId int,
@ClassId int
as
begin
	declare @minId int, @maxId int
	
	select SN=identity(int ,1,1), s.StudentId, ex.ExamName, e.ExamHeldYear, e.ResultPrintDate, 
	c.ClassName, s.StudentFullName,  sc.RollNumber, sub.SubjectName, sub.TheoryMarks, sub.PracticalMarks, 
	se.TheoryMarks as 'ObtainedTheory', se.PracticalMarks as 'ObtainedPractical'
	INTO #tempResult   FROM StudentExams se
	INNER JOIN Student s on se.StudentId = s.StudentId
	INNER JOIN Examination e on se.ExaminationId = e.ExaminationId
	INNER JOIN Exam ex on e.ExamId = ex.ExamID
	INNER JOIN Class c on se.ClassId = c.ClassId
	INNER JOIN StudentClass sc on se.StudentId = sc.StudentId AND se.ClassId = sc.ClassId
	INNER JOIN Subjects sub on se.SubjectId = sub.SubjectId
	WHERE se.ExaminationId = @ExaminationId AND se.ClassId = @ClassId
	
	SELECT DISTINCT  StudentId into #StudentRecord FROM #tempResult
	
	
	set @minId = (SELECT MIN(StudentId) from #StudentRecord)
	set @maxId = (SELECT MAX(StudentId) from #StudentRecord)
	WHILE (@minId<= @maxId)
	BEGIN
		if(SELECT COUNT(*) from	#tempResult WHERE StudentId = (SELECT StudentId FROM #StudentRecord WHERE StudentId= @minId) )>0
	BEGIN	
		DECLARE @studentId INT, @Attendance nvarchar(10)
		SELECT @studentId = StudentId FROM #StudentRecord WHERE StudentId = @minId
		SELECT @Attendance =  CONVERT(VARCHAR, PresentDays) + '/' + CONVERT(VARCHAR, SchoolDays) 
		FROM Attendance WHERE StudentId = @studentId AND ClassId = @ClassId AND ExaminationId =@ExaminationId

		SELECT *, isnull(@Attendance, 'NA') Attendance FROM #tempResult WHERE StudentId = @studentId
		
		END
		SET @minId = @minId +1
	END
	
	DROP TABLE #tempResult
	DROP TABLE #StudentRecord
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GetStudentActivities]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_GetStudentActivities]
	@StudentId int,
	@ExaminationId int
as
begin
	declare @Year nvarchar(4)
	set NOCOUNT ON
	SELECT  @Year = ExamHeldYear from Examination WHERE ExaminationId = @ExaminationId
	SELECT * FROM StudentExtraActivities WHERE StudentId = @StudentId 
		AND ActivitiesYear = @Year AND ExaminationId = @ExaminationId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Delete]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Delete]
@GradingId int
as
begin
	Delete from GradingSystem where GradingSystemId = @GradingId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Save]
	@MarksFrom decimal(6,2),
	@MarksTo decimal(6,2),
	@Grade nvarchar(5),
	@Remarks nvarchar(200)
as
begin
	insert into GradingSystem(MarksFrom,MarksTo,Grade,Remarks) values (@MarksFrom,@MarksTo,@Grade,@Remarks)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Select]
as
begin
	Select GradingSystemId, 
	ROW_NUMBER() over(order by GradingSystemId) as 'S.N',
	MarksFrom as 'Marks From',
	MarksTo as 'Marks To',Grade,Remarks from GradingSystem
end
GO
/****** Object:  StoredProcedure [dbo].[usp_GradingSystem_Update]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_GradingSystem_Update]
	@GradingId int,
	@MarksFrom decimal(6,2),
	@MarksTo decimal(6,2),
	@Grade nvarchar(5),
	@Remarks nvarchar(200)
as
begin
	update GradingSystem set MarksFrom = @MarksFrom, MarksTo = @MarksTo, Grade = @Grade, Remarks = @Remarks
	where GradingSystemId = @GradingId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_LedgerEight]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_LedgerEight]
@ClassId nvarchar(5),
@ExaminationId nvarchar(5)
as
begin
	declare @min int, @max int
  select  sc.RollNumber , s.StudentFullName,   se.StudentId,  se.TheoryMarks, se.PracticalMarks 
  , se.SubjectId, sub.SubjectName
  into #Temp from StudentExams se
  inner join Student s on se.StudentId = s.StudentId
  inner join StudentClass sc on se.StudentId = sc.StudentId and se.ClassId = sc.ClassId
  inner join Subjects sub on se.SubjectId = sub.SubjectId
  where se.ClassId = @ClassId and se.ExaminationId = @ExaminationId 
  order by sub.SubjectName asc
  
  select @min= MIN(StudentId),
		@max=MAX(StudentId) from #Temp

  while (@min <= @max)
  begin
	if(select COUNT(*) from #Temp where StudentId = @min)>0
	begin
		 select * from #Temp where StudentId = @min
	end
   
	set @min = @min + 1
  end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_LedgerOne]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create proc [dbo].[usp_LedgerOne]
@ClassId nvarchar(5),
@ExaminationId nvarchar(5)
as
begin
	declare @cols nvarchar(max), @sql nvarchar(max)
 SET @cols = STUFF((SELECT  ',' + QUOTENAME(c.SubjectName) 
            FROM Subjects c
            where ClassId = @ClassId
            FOR XML PATH(''), TYPE
            ).value('.', 'NVARCHAR(MAX)') 
        ,1,1,'')
    print @cols    
set @sql= N'Select * from (
 select sc.RollNumber, st.StudentFullName, s.SubjectName ,
  (se.TheoryMarks +  se.PracticalMarks) Mark
  from StudentExams se
 inner join Subjects s on se.SubjectId = s.SubjectId
 inner join Student st on se.StudentId = st.StudentId
 inner join StudentClass sc on se.ClassId = sc.ClassId and sc.StudentId = se.StudentId
 where se.ExaminationId = ''' + @ExaminationId + ''' and sc.ClassId = ''' +  @ClassId + '''
 ) as p
 pivot
  (
   sum (Mark) for [SubjectName] in (' + @cols + ')
 ) as pvt order by convert(int,RollNumber) asc'
 
 print @sql
 exec sp_executesql @sql
end
GO
/****** Object:  StoredProcedure [dbo].[usp_SaveAttendance]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_SaveAttendance]
	@RollNumber nvarchar(5),
	@ClassId int,
	@ExaminationId int,
	@ExamHeldYear nvarchar(4),
	@SchoolDays int,
	@PresentDays int,
	@StudentId int
as
begin
	
	if exists(SELECT 'x' from Attendance WHERE StudentId = @StudentId AND ClassId = @ClassId AND
			ExaminationId = @ExaminationId AND ExamHeldYear = @ExamHeldYear)
			BEGIN
					UPDATE Attendance SET SchoolDays = @SchoolDays, PresentDays = @PresentDays
					WHERE StudentId = @StudentId AND ClassId = @ClassId AND
					ExaminationId = @ExaminationId AND ExamHeldYear = @ExamHeldYear			
			END
	ELSE
	BEGIN
		INSERT INTO Attendance (StudentId, ClassId, ExaminationId, ExamHeldYear, SchoolDays, PresentDays) VALUES
		(@StudentId, @ClassId, @ExaminationId, @ExamHeldYear, @SchoolDays,@PresentDays )
	END

	if exists (select 'x' from StudentExtraActivities where StudentId = @StudentId and ActivitiesYear = @ExamHeldYear and ExaminationId = @ExaminationId)
	begin
		update StudentExtraActivities set PresentDays = @PresentDays where StudentId = @StudentId and ActivitiesYear = @ExamHeldYear and ExaminationId = @ExaminationId
	end
	else
	begin
		insert into StudentExtraActivities (StudentId, ActivitiesYear, ExaminationId, SchoolDays, PresentDays) values
		(@StudentId, @ExamHeldYear, @ExaminationId, @SchoolDays,@PresentDays)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_BulkInsert]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_BulkInsert]
@Name nvarchar(100),
@Gender char(1),
@ClassName nvarchar(10),
@Enrolledyear nvarchar(4),
@RollNumber nvarchar(5)
as
begin
begin try
begin tran
	declare @ClassId int, @StudentId int
	set @ClassId = (Select ClassId from Class where ClassName = @ClassName);
	insert into Student(StudentFullName,Gender) values (@Name,@Gender)
	select @StudentId = SCOPE_IDENTITY() from Student
	insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values (@StudentId,@ClassId,@Enrolledyear,@RollNumber)
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Delete]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE proc [dbo].[usp_Student_Delete]
	@StudentId int
as
begin
begin try
begin tran
	delete from StudentExams where StudentId = @StudentId
	delete from StudentClass where StudentId = @StudentId
	delete from Attendance where StudentId = @StudentId
	delete from  Student where StudentId = @StudentId
commit
end try
begin catch
	rollback
end catch
end


GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Names]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Names]
as
begin
	select distinct  StudentFullName from Student s
	inner join StudentClass sc on s.StudentId= sc.StudentId
	order by StudentFullName asc
	
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Student_Save]
	@StudentName nvarchar(100),
	@Gender char(1),
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5)
as
begin
begin try
begin tran
	declare @studentId int
	insert into Student(StudentFullName,Gender ) values (@StudentName,@Gender)
	select @studentId = SCOPE_IDENTITY() from Student
	insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values (@studentId, @ClassId, @EnrolledYear,@RollNumber)
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Search]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Search]
	@Name nvarchar(100),
	@ClassId int,
	@AcademicYear nvarchar(4)
as
begin
	select s.StudentId, ROW_NUMBER() over (order by sc.EnrolledYear desc, c.ClassID desc, CONVERT(INT, sc.RollNumber) asc ) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', sc.RollNumber from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where (s.StudentFullName like @Name + '%'  or @Name = '' )and sc.ClassId = @ClassId and sc.EnrolledYear  = @AcademicYear
	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Select]
as
begin
	select s.StudentId, ROW_NUMBER() over (order by sc.EnrolledYear desc, c.ClassID desc, CONVERT(INT, sc.RollNumber) asc ) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', sc.RollNumber as [Roll Number] from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where sc.EnrolledYear = (select ISNULL(MAX(EnrolledYear),0) from StudentClass)
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Select_By_Class_Year]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Select_By_Class_Year]
@ClassId int,
@EnrolledYear varchar(4),
@SubjectId int,
@ExaminationId int
as
begin
	select sc.RollNumber as [Roll Number], s.StudentFullName as [Student Name], se.TheoryMarks as [Theory Marks], se.PracticalMarks as [Practical Marks],
	sub.TheoryMarks as FullTheory, sub.PracticalMarks as FullPractical, s.StudentId
	 from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	LEFT JOIN StudentExams se on s.StudentId = se.StudentId and sc.ClassId = se.ClassId AND se.SubjectId = @SubjectId
	 AND se.ExaminationId = @ExaminationId
	 LEFT JOIN Subjects sub on sc.ClassId = sub.ClassId AND sub.SubjectId = @SubjectId
	where sc.ClassId = @ClassId AND sc.EnrolledYear = @EnrolledYear
	ORDER BY CONVERT(INT, sc.RollNumber) ASC
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Select_By_Class_Year_Examination]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--	EXEC usp_Student_Select_By_Class_Year_Examination 13, 2073, 1
CREATE proc [dbo].[usp_Student_Select_By_Class_Year_Examination]
@ClassId int,
@EnrolledYear varchar(4),
@ExaminationId int
as
begin
	select S.StudentId, isnull(a.SchoolDays,70) SchoolDays, sc.RollNumber AS [Roll Number], s.StudentFullName as [Student Name], 
	 ISNULL( a.PresentDays,0) as [Present Days]
	 from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	LEFT JOIN Attendance a on s.StudentId = a.StudentId and sc.ClassId = a.ClassId 
	 AND a.ExaminationId = @ExaminationId AND a.ExamHeldYear = @EnrolledYear
	where sc.ClassId = @ClassId AND sc.EnrolledYear = @EnrolledYear
	ORDER BY CONVERT(INT, sc.RollNumber) ASC
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_SelectById]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_SelectById]
@StudentId int,
@EnrolledYear varchar(5)
as
begin
	select s.StudentFullName, s.Gender, sc.ClassId, sc.EnrolledYear, sc.RollNumber from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	where s.StudentId = @StudentId and sc.EnrolledYear = @EnrolledYear
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Transfer]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Student_Transfer]
	@ClassId int,
	@AcademicYear nvarchar(4)
as
begin
	select s.StudentId, ROW_NUMBER() over (order by sc.EnrolledYear desc, c.ClassID desc, CONVERT(INT, sc.RollNumber) asc ) as 'S.N', s.StudentFullName as 'Name', 
	case 
	when s.Gender = 'M' then 'Male'
	else 'Female'
	end as Gender, c.ClassName as 'Class', sc.EnrolledYear as 'Academic Year', 
	sc.RollNumber as 'Roll Number', sc.RollNumber as 'New Roll Number'
	 from Student s
	inner join StudentClass sc on s.StudentId = sc.StudentId
	inner join Class c on sc.ClassId = c.ClassId
	where  sc.ClassId = @ClassId and sc.EnrolledYear  = @AcademicYear
	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Student_TransferStudent]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_TransferStudent]
	@StudentId int,
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5)
as
	begin
		insert into StudentClass(StudentId,ClassId,EnrolledYear,RollNumber) values
		(@StudentId, @ClassId, @EnrolledYear, @RollNumber)
	end
GO
/****** Object:  StoredProcedure [dbo].[usp_Student_Update]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Student_Update]
	@StudentName nvarchar(100),
	@Gender char(1),
	@ClassId int,
	@EnrolledYear nvarchar(4),
	@RollNumber nvarchar(5),
	@StudentId int
as
begin
begin try
begin tran
	update Student set StudentFullName = @StudentName, Gender=@Gender where StudentId = @StudentId
	update StudentClass set ClassId = @ClassId, EnrolledYear = @EnrolledYear, RollNumber = @RollNumber
	where StudentId = @StudentId
commit
end try
begin catch
	rollback
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExam_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_StudentExam_Save]
@RollNumber varchar(5),
@ExaminationId int,
@ClassId int,
@SubjectId int,
@Theory decimal(6,2),
@Practical decimal(6,2),
@ExamYear nvarchar(4),
@StudentId int
as
begin
begin try
begin tran

	if EXISTS(SELECT 'a' FROM StudentExams WHERE StudentId = @StudentId AND ExaminationId = @ExaminationId AND ClassId = @ClassId AND SubjectId = @SubjectId)
	BEGIN
		UPDATE StudentExams SET TheoryMarks = @Theory, PracticalMarks = @Practical 
			 WHERE StudentId = @StudentId AND ExaminationId = @ExaminationId AND ClassId = @ClassId AND SubjectId = @SubjectId
	END
	ELSE
	BEGIN
		INSERT INTO StudentExams (StudentId, ExaminationId, ClassId, SubjectId, TheoryMarks, PracticalMarks) VALUES
		(@StudentId, @ExaminationId, @ClassId, @SubjectId, @Theory, @Practical)
	END
commit
end try
begin catch
	rollback
end catch
end

GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExtraActivities_Get]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_StudentExtraActivities_Get]
	@Year nvarchar(4) ,
	@Examination nvarchar(4)
as
begin 
		select s.StudentId, sc.RollNumber as [Roll Number], s. StudentFullName as [Student Name], sea.SchoolDays as [School Days], sea.PresentDays as [Present Days], sea.Drawing, sea.Games, 
		sea.Conduct, sea.PersonalCleanliness, sea.Cooperation  FROM Student s
		INNER JOIN StudentClass sc on s.StudentId = sc.StudentId AND sc.EnrolledYear = @Year and sc.ClassId = 1
		LEFT JOIN StudentExtraActivities sea on s.StudentId = sea.StudentId AND sea.ExaminationId = @Examination	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_StudentExtraActivities_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_StudentExtraActivities_Save]
	@RollNumber nvarchar(5) ,
	@ActivitiesYear nvarchar(4),
	@ExaminationId int  ,
	@SchoolDays int,
	@PresentDays int,
	@Drawing nvarchar(4),
	@Games nvarchar(4),
	@Conduct nvarchar(4),
	@PersonalCleanliness nvarchar(4),
	@Cooperation nvarchar(4),
	@StudentId int

as
begin 	
	if exists (SELECT 'x' FROM StudentExtraActivities WHERE StudentId = @StudentId AND 
				ActivitiesYear = @ActivitiesYear AND ExaminationId = @ExaminationId)
	BEGIN
		UPDATE StudentExtraActivities SET SchoolDays = @SchoolDays, PresentDays = @PresentDays,
		Drawing = @Drawing, Games = @Games, Conduct = @Conduct, 
		PersonalCleanliness = @PersonalCleanliness, Cooperation=@Cooperation 
		WHERE StudentId = @StudentId AND  ActivitiesYear = @ActivitiesYear AND ExaminationId = @ExaminationId
	END
	ELSE
	BEGIN
		INSERT INTO StudentExtraActivities (StudentId, ActivitiesYear, ExaminationId, SchoolDays, PresentDays, Drawing, Games,
		 Conduct, PersonalCleanliness, Cooperation) VALUES
	(@StudentId, @ActivitiesYear, @ExaminationId, @SchoolDays, @PresentDays, @Drawing, @Games, @Conduct, 
	@PersonalCleanliness, @Cooperation)	
	END

	declare @ClassId int
	select @ClassId = ClassId from StudentClass where StudentId = @StudentId and EnrolledYear = @ActivitiesYear and RollNumber = @RollNumber
	if exists (SELECT 'x' FROM Attendance WHERE StudentId = @StudentId AND 
				ExamHeldYear = @ActivitiesYear AND ExaminationId = @ExaminationId and ClassId = @ClassId)
	begin
		update Attendance set PresentDays = @PresentDays where StudentId = @StudentId AND 
				ExamHeldYear = @ActivitiesYear AND ExaminationId = @ExaminationId and ClassId = @ClassId
	end
	else
	begin
		insert into Attendance(StudentId, ClassId, ExaminationId, ExamHeldYear, SchoolDays, PresentDays) values
		(@StudentId, @ClassId,@ExaminationId, @ActivitiesYear, @SchoolDays, @PresentDays)
	end
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_ByClass]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Subject_ByClass]
	@ClassId int
as
begin
	
	select s.SubjectId, ROW_NUMBER() over (order by c.ClassId, s.SubjectName) as 'S.N',
	 c.ClassName as 'Class', s.SubjectName as 'Subject', s.TheoryMarks as 'Theory Marks', 
	 s.PracticalMarks as 'Practical Marks'
	 from Subjects s
	inner join Class c on s.ClassId = c.ClassId
	where s.IsDelete = 0 AND (s.ClassId = @ClassId OR @ClassId = 0) 
	order by c.ClassId asc, s.SubjectName asc
	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_CheckPractical]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_CheckPractical]
@Mark decimal(6,2),
@SubjectId int
as
begin
	declare @PracticalMark decimal(6,2)
	set	@PracticalMark = (SELECT PracticalMarks FROM Subjects WHERE SubjectId = @SubjectId)
	if(@Mark <= @PracticalMark)
	BEGIN
			SELECT CAST(1 as BIT)
	END
	else
	BEGIN
		SELECT CAST(0 as BIT)
	END

end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_CheckTheory]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[usp_Subject_CheckTheory]
@Mark decimal(6,2),
@SubjectId int
as
begin
	declare @TheoryMark decimal(6,2)
	set	@TheoryMark = (SELECT TheoryMarks FROM Subjects WHERE SubjectId = @SubjectId)
	if(@Mark <= @TheoryMark)
	BEGIN
			SELECT CAST(1 as BIT)
	END
	else
	BEGIN
		SELECT CAST(0 as BIT)
	END

end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Delete]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Subject_Delete]
	@SubjectId int
as
begin
	Update Subjects Set IsDelete = 1
	where SubjectId = @SubjectId
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Save]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Subject_Save]
	@SubjectName nvarchar(100),
	@ClassId int,
	@ThoryMarks decimal(6,2),
	@PracticalMarks decimal(6,2)
as
begin
	insert into Subjects(SubjectName, ClassId,TheoryMarks,PracticalMarks) values 
	(@SubjectName, @ClassId, @ThoryMarks, @PracticalMarks)
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Select]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[usp_Subject_Select]
as
begin
	select s.SubjectId, ROW_NUMBER() over (order by c.ClassId, s.SubjectName) as 'S.N',
	 c.ClassName as 'Class', s.SubjectName as 'Subject', s.TheoryMarks as 'Theory Marks', 
	 s.PracticalMarks as 'Practical Marks'
	 from Subjects s
	inner join Class c on s.ClassId = c.ClassId
	where s.IsDelete = 0
	order by c.ClassId asc, s.SubjectName asc
	
end

GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_SelectById]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Subject_SelectById]
	@SubjectId int
as
begin
	select s.SubjectId, 
	 s.ClassId, s.SubjectName , s.TheoryMarks , 
	 s.PracticalMarks 
	 from Subjects s
	where s.SubjectId = @SubjectId
end
GO
/****** Object:  StoredProcedure [dbo].[usp_Subject_Update]    Script Date: 10/22/2021 9:28:55 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[usp_Subject_Update]
	@SubjectName nvarchar(100),
	@ClassId int,
	@ThoryMarks decimal(6,2),
	@PracticalMarks decimal(6,2),
	@SubjectId int
as
begin
	update Subjects set 
		SubjectName = @SubjectName, 
		ClassId = @ClassId,
		TheoryMarks = @ThoryMarks,
		PracticalMarks = @PracticalMarks 
	where SubjectId = @SubjectId
end
GO
USE [master]
GO
